/* The modal window from Hero - Header section */
/* Fereastra mobile menu */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
  background-color: var(--black-color);
  z-index: 999;

  transform: translateX(200%);
  transition: transform 250ms ease-in-out;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 254px;
    height: 100vh;
    top: 0;
    right: 0;
    left: auto;
  }
}

.menu-container .is-open {
  transform: translateX(0);
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  &:hover {
    color: var(--brand-color);
  }
}

.close-menu {
  background: transparent;
  box-shadow: none;
  position: relative;
  left: 85%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  color: var(--white-color);
  margin-bottom: 0px;
}

.close-menu > svg {
  fill: currentColor;
}
